@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=WDXL+Lubrifont+JP+N&display=swap");
* {
    min-height: fit-content;
    min-width: fit-content;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Orbitron", "WDXL Lubrifont JP N";
    font-size: 7vh;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.label {
    text-align: center;
}

.headingLabel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
    top: 5vh;
    font-size: 10vh;
    background-color: rgba(230, 230, 255, 0.5);
    border: 1.5vh solid rgba(200, 200, 255, 0.7);
}

.back {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 5vh;
    padding: 1.5vh;
}

body {
    background-color: #222;
    background-image: repeating-linear-gradient(45deg, #ccc 0px, #ccc 5vh, #c3c3c3 5vh, #c3c3c3 10vh);
}

button {
    border: 1vh solid #444;
    padding: 3vh;
    background-color: #eee;
}

#score {
    position: absolute;
    bottom: 20vh;
    right: 5vh;
    font-size: 6vh;
}

#remove {
    position: absolute;
    bottom: 10vh;
    right: 5vh;
    font-size: 6vh;
}

#count {
    position: absolute;
    bottom: 30vh;
    right: 5vh;
    font-size: 6vh;
}

#pause {
    background-color: #ffffff44;
    & .label {
        background-color: #ffffff;
    }
}

#pauseButton {
    font-size: 4vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
}

.modeDescription {
    background-color: #ffffff44;
    & .text {
        background-color: #ffffff;
        font-size: 4vh;
    }
    & .label {
        background-color: #ffffff;
    }
}

#result {
    background-color: #ffffff44;
    & .text {
        background-color: #ffffff;
    }
    & .label {
        background-color: #ffffff;
    }
}

#check {
    background-color: #ffffff44;
    & .text {
        background-color: #ffffff;
    }
    & .label {
        background-color: #ffffff;
    }
}

#aboutThisGame .text {
    font-size: 4vh;
}

.page {
    gap: 5vh;
}
